@page "/"

<PageTitle>TicTacToe</PageTitle>

<div id="PageElement">
<h1>TicTacToe</h1>
@if (_gameOngoing)
{
	@if(_gameWon)
	{
		<h2>@_winInfo</h2>
		<button @onclick="@ResetGame" class="btn btn-primary">Reset game</button> 
		<button @onclick="@PlayAgain" class="btn btn-secondary">Again??</button>
	} else
	{
		
	@if(_player1Turn)
		{
			<h2>@_player1's turn!</h2>

		} else
		{

			<h2>@_player2's turn!</h2>
		}
		<button @onclick="@ResetGame" class="btn btn-primary">Reset game</button> <br/>
	}
	<br/>
	<br/>
	<table class="GameTable">
	<tr>
		<td class="@sq1" @onmouseenter="@(e => OnMouseHover("sq1"))" @onmouseleave="(e => OnMouseOut())" @onclick="@(e => UserClick("sq1"))">@game.GameSquares.ElementAt(0).Input</td> 
		<td class="@sq2" @onmouseenter="@(e => OnMouseHover("sq2"))" @onmouseleave="(e => OnMouseOut())" @onclick="@(e => UserClick("sq2"))">@game.GameSquares.ElementAt(1).Input</td> 
		<td class="@sq3" @onmouseenter="@(e => OnMouseHover("sq3"))" @onmouseleave="(e => OnMouseOut())" @onclick="@(e => UserClick("sq3"))">@game.GameSquares.ElementAt(2).Input</td>
	</tr>
	<tr>
		<td class="@sq4" @onmouseenter="@(e => OnMouseHover("sq4"))" @onmouseleave="(e => OnMouseOut())" @onclick="@(e => UserClick("sq4"))">@game.GameSquares.ElementAt(3).Input</td> 
		<td class="@sq5" @onmouseenter="@(e => OnMouseHover("sq5"))" @onmouseleave="(e => OnMouseOut())" @onclick="@(e => UserClick("sq5"))">@game.GameSquares.ElementAt(4).Input</td> 
		<td class="@sq6" @onmouseenter="@(e => OnMouseHover("sq6"))" @onmouseleave="(e => OnMouseOut())" @onclick="@(e => UserClick("sq6"))">@game.GameSquares.ElementAt(5).Input</td>
	</tr>
		<tr>
		<td class="@sq7" @onmouseenter="@(e => OnMouseHover("sq7"))" @onmouseleave="(e => OnMouseOut())" @onclick="@(e => UserClick("sq7"))">@game.GameSquares.ElementAt(6).Input</td> 
		<td class="@sq8" @onmouseenter="@(e => OnMouseHover("sq8"))" @onmouseleave="(e => OnMouseOut())" @onclick="@(e => UserClick("sq8"))">@game.GameSquares.ElementAt(7).Input</td>
		<td class="@sq9" @onmouseenter="@(e => OnMouseHover("sq9"))" @onmouseleave="(e => OnMouseOut())" @onclick="@(e => UserClick("sq9"))">@game.GameSquares.ElementAt(8).Input</td>
	</tr>
	</table>
} else
{
	<p>Enter your name and choose your weapon!</p>
	<EditForm Model="@_state" OnSubmit="@SetGame">
		<InputText @bind-Value="_state.Player1Name" placeholder="Player 1 Name"></InputText> 
		<br />
	<InputSelect @bind-Value="_state.Inputs">
			<option value="X">X</option>
			<option value="O">O</option>
		</InputSelect>
	<br/>
		@if (!_state.AgainstComputer)
		{
			<InputText @bind-Value="_state.P2" placeholder="player 2 Name"></InputText>
		}
		<br/>

		<label for="computercheck">Play against computer?</label>
		<InputCheckbox id="computercheck" @bind-Value="@_state.AgainstComputer">
		</InputCheckbox>
		<br/>
		<button class="btn btn-primary" type="submit">Start game</button>
	</EditForm>
}
</div>



@code {
	private string _humanInput { get; set; } = "";
	private string _player2Input { get { return (_humanInput == "X") ? "O" : "X"; } }
	private string _player1 { get; set; } = "player 1";
	private string _player2 { get; set; } = "player 2";
	private string _winInfo { get; set; } = string.Empty;

	private GameTable game = new GameTable();
	private GameState _state = new GameState();

	private bool _gameOngoing { get; set; } = false;
	private bool _player1Turn { get; set; } = true;
	private bool _againstComputer { get; set; }
	private bool _gameWon { get; set; } = false;

	private List<List<int>> _winningLines = new List<List<int>>()
	{
		new List<int>(){1,2,3},
		new List<int>(){4,5,6},
		new List<int>(){7,8,9},
		new List<int>(){1,4,7},
		new List<int>(){2,5,8},
		new List<int>(){3,6,9},
		new List<int>(){1,5,9},
		new List<int>(){3,5,7},

	};

	public void UserClick(string square)
	{
		switch(square)
		{
			case "sq1":
				if (game.GameSquares.ElementAt(0).HasValue)
				{
					return;
				}
				switch (_player1Turn)
				{
					case true:
						game.GameSquares.ElementAt(0).Input = _humanInput;
						break;
					case false:
						game.GameSquares.ElementAt(0).Input = _player2Input;
						break;
				}
				break;
			case "sq2":
				if (game.GameSquares.ElementAt(1).HasValue)
				{
					return;
				}
				switch (_player1Turn)
				{
					case true:
						game.GameSquares.ElementAt(1).Input = _humanInput;
						break;
					case false:
						game.GameSquares.ElementAt(1).Input = _player2Input;
						break;
				}
				break;
			case "sq3":
				if (game.GameSquares.ElementAt(2).HasValue)
				{
					return;
				}
				switch (_player1Turn)
				{
					case true:
						game.GameSquares.ElementAt(2).Input = _humanInput;
						break;
					case false:
						game.GameSquares.ElementAt(2).Input = _player2Input;
						break;
				}
				break;
			case "sq4":
				if (game.GameSquares.ElementAt(3).HasValue)
				{
					return;
				}
				switch (_player1Turn)
				{
					case true:
						game.GameSquares.ElementAt(3).Input = _humanInput;
						break;
					case false:
						game.GameSquares.ElementAt(3).Input = _player2Input;
						break;
				}
				break;
			case "sq5":
				if (game.GameSquares.ElementAt(4).HasValue)
				{
					return;
				}
				switch (_player1Turn)
				{
					case true:
						game.GameSquares.ElementAt(4).Input = _humanInput;
						break;
					case false:
						game.GameSquares.ElementAt(4).Input = _player2Input;
						break;
				}
				break;
			case "sq6":
				if (game.GameSquares.ElementAt(5).HasValue)
				{
					return;
				}
				switch (_player1Turn)
				{
					case true:
						game.GameSquares.ElementAt(5).Input = _humanInput;
						break;
					case false:
						game.GameSquares.ElementAt(5).Input = _player2Input;
						break;
				}
				break;
			case "sq7":
				if (game.GameSquares.ElementAt(6).HasValue)
				{
					return;
				}
				switch (_player1Turn)
				{
					case true:
						game.GameSquares.ElementAt(6).Input = _humanInput;
						break;
					case false:
						game.GameSquares.ElementAt(6).Input = _player2Input;
						break;
				}
				break;
			case "sq8":
				if (game.GameSquares.ElementAt(7).HasValue)
				{
					return;
				}
				switch (_player1Turn)
				{
					case true:
						game.GameSquares.ElementAt(7).Input = _humanInput;
						break;
					case false:
						game.GameSquares.ElementAt(7).Input = _player2Input;
						break;
				}
				break;
			case "sq9":
				if (game.GameSquares.ElementAt(8).HasValue)
				{
					return;
				}
				switch (_player1Turn)
				{
					case true:
						game.GameSquares.ElementAt(8).Input = _humanInput;
						break;
					case false:
						game.GameSquares.ElementAt(8).Input = _player2Input;
						break;
				}
				break;
		}
		switch(_player1Turn)
		{
			case true:
				CheckGame(_humanInput, _player1);
				_player1Turn = !_player1Turn;
				break;
			case false:
				CheckGame(_player2Input, _player2);
				_player1Turn = !_player1Turn;
				break;
		}
		if (_againstComputer && !_gameWon)
		{
			ComputerTurn();
		}
	}

	public void SetGame()
	{
		_humanInput = _state.Inputs.ToString();
		_againstComputer = _state.AgainstComputer;
		_player1 = (_state.Player1Name == "") ? "Player 1" : _state.Player1Name;
		if (_state.AgainstComputer)
		{
			_player2 = "Computer";
		} else
		{
			_player2 = (_state.P2 == "") ? "Player 2" : _state.P2;
		}
		_gameOngoing = true;
		_player1Turn = true;
		_state = new GameState();
	}
	public void OnMouseHover(string orig)
	{
		temp = orig;
		switch(orig)
		{
			case "sq1":
				sq1 = hover;
				break;
			case "sq2":
				sq2 = hover;
				break;
			case "sq3":
				sq3 = hover;
				break;
			case "sq4":
				sq4 = hover;
				break;
			case "sq5":
				sq5 = hover;
				break;
			case "sq6":
				sq6 = hover;
				break;
			case "sq7":
				sq7 = hover;
				break;
			case "sq8":
				sq8 = hover;
				break;
			case "sq9":
				sq9 = hover;
				break;
		}
	}
	public void OnMouseOut()
	{
		switch(temp)
		{
			case "sq1":
				sq1 = "squareOne";
				break;
			case "sq2":
				sq2 = "squareTwo";
				break;
			case "sq3":
				sq3 = "squareThree";
				break;
			case "sq4":
				sq4 = "squareFour";
				break;
			case "sq5":
				sq5 = "squareFive";
				break;
			case "sq6":
				sq6 = "squareSix";
				break;
			case "sq7":
				sq7 = "squareSeven";
				break;
			case "sq8":
				sq8 = "squareEigth";
				break;
			case "sq9":
				sq9 = "squareNine";
				break;
		}
	}
	public void ResetGame()
	{
		_gameOngoing = false;
		_winInfo = string.Empty;
		_gameWon = false;
		foreach (var sq in game.GameSquares)
		{
			sq.Input = " ";
		}
	}
	public void PlayAgain()
	{
		foreach (var sq in game.GameSquares)
		{
			sq.Input = " ";
		}
		_gameWon = false;
		if (_againstComputer && !_player1Turn)
		{
			ComputerTurn();
		}
	}
	public void ComputerTurn()
	{
		if (!game.GameSquares.Where(x => x.HasValue).Any())
		{
			game.GameSquares.ElementAt(Computer.random.Next(1, 9)).Input = _player2Input;
			_player1Turn = !_player1Turn;
			return;
		}
		var pos = Computer.BestPosition(game.GameSquares, _winningLines, _player2Input);
		game.GameSquares.ElementAt(pos - 1).Input = _player2Input;
		CheckGame(_player2Input, _player2);
		_player1Turn = !_player1Turn;
	}

	public void CheckGame(string inputValue, string player) // check for winner or tie
	{
		var playerInputs = game.GameSquares.Where(x => x.Input == inputValue).Select(x => x.Id);
		foreach (var line in _winningLines)
		{
			CheckLine(line, inputValue, player);
		}
		if (game.GameSquares.Where(x => x.HasValue).Count() == 9)
		{
			_gameWon = true;
			_winInfo = "It's a tie!!";
		}
	}

	public void CheckLine(List<int> Id, string playerInputValue, string player)
	{
		var count = 0;
		foreach (int id in Id)
		{
			if (game.GameSquares.Where(x => x.Id == id).Where(x => x.Input == playerInputValue).Any())
			{
				count++;
			}
		}
		if (count == 3)
		{
			_gameWon = true;
			_winInfo = $"{player} Won!!";
		}
	}


	private string sq1 { get; set; } = "squareOne";
	private string sq2 { get; set; } = "squareTwo";
	private string sq3 { get; set; } = "squareThree";
	private string sq4 { get; set; } = "squareFour";
	private string sq5 { get; set; } = "squareFive";
	private string sq6 { get; set; } = "squareSix";
	private string sq7 { get; set; } = "squareSeven";
	private string sq8 { get; set; } = "squareEigth";
	private string sq9 { get; set; } = "squareNine";

	private string hover { get; set; } = "hover";
	private string temp { get; set; } = "";

}
